html, body {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 60px; /* Höhe des Headers plus ein bisschen Abstand */
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: right;
    border: 1px solid black;
    width: 50px;
    padding: 5px;
}

.blue {
    background-color: blue;
    color: white;
}

#center {
    text-align: center;
}

input[type="submit"] {
    padding: 10px 15px; /* Padding oben/unten und seitlich */
    font-size: 16px;
    height: 40px; /* Feste Höhe für die Buttons */
    border: none;
    background-color: #A9A8A6;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px; /* Horizontaler Abstand zwischen den Buttons */
}