html, body {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 60px; /* Höhe des Headers plus ein bisschen Abstand */
}


.container {
    text-align: center;
}

.ball-container {
    margin-bottom: 20px; /* Abstand zwischen Lottozahlen und Buttons */
    margin-top: 20px;
}

.ball {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #FFD700;
    color: #000;
    font-weight: bold;
    margin: 10px;
}

.button-container {
    margin-top: 20px;
}

input[type="submit"] {
    padding: 10px 15px; /* Padding oben/unten und seitlich */
    font-size: 16px;
    height: 40px; /* Feste Höhe für die Buttons */
    border: none;
    background-color: #A9A8A6;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px; /* Horizontaler Abstand zwischen den Buttons */
}